# My Jupyter Notebook on IBM Data Science Experience

**Jaynab** Student

*I am interested in data science because it is forefront of the coming AI revolution.
Data scientists help improve how humans make decisions and how algorithms optimize outcomes*

### My code is doing array addition using R in this jupyter notebook

In [8]:
a = c(1,2,3)
b = c(2,4,6)
c = cbind(a,b)
x = a+b
c
x

     a b
[1,] 1 2
[2,] 2 4
[3,] 3 6

[1] 3 6 9

* unordered list
This is Table

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

> Blockquotes are very handy in email to emulate reply text.